@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-size: 60px 60px;
    background-image: linear-gradient(90deg, hsla(0, 0%, 90%, .4) 1px, transparent 0), linear-gradient(180deg, hsla(0, 0%, 90%, .4) 1px, transparent 0);
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
}